.home-buttons{
    border: none;
    height: 36px;
    width: 15%;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
    display: block;
}
button{
    margin: 2% auto ;
    display: inline-block;
    background-color: rgb(219, 127, 255);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 16px;
    font-family: 'goodtimes', sans-serif;
    text-align: center;
    height: 25px;
    width: 150px;
}

button:hover{
    background-color: rgba(153, 42, 243, 0.445);
}

Body{
    background-image: url("1111.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'goodtimes', sans-serif;
}


.playingField{
    background-color: rgba(153, 22, 165, 0.315);
    border-color: black;
    border-style: solid;
    resize: none;
    text-align: left;
    color: white;
    font-family: 'goodtimes';
    overflow: hidden;
    resize: none;
}
@font-face {
    font-family: 'goodtimes'; 
    src: url('goodtimes.otf'); 
  }




.header{
    text-align: center;
    margin: 1px auto ;
    margin-bottom: 5%;
    color: white;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.container {
    margin-top: 200px;
    position: relative;
    color: white;
}

